@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>
    <br />
    Claire Palmer: <a href="mailto:cpalm18@lsu.edu">cpalm18@lsu.edu</a>
    <br /> <br />
    Adam Hock: <a href="mailto:ahock2@lsu.edu">ahock2@lsu.edu</a>
    <br />    <br />
    Heewon Hah: <a href="mailto:hhah1@lsu.edu">hhah1@lsu.edu</a>
    <br />    <br />
    Chris Bilke:  <a href="mailto:cbilke1@lsu.edu">cbilke1@lsu.edu</a>
</p>



<style type="text/css">

    /* Background Color*/
    body {
        background: #333 !important;
        color: #fff !important;
    }

</style>