@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home";
}

<body class="vertical-center text-center">



    <main role="main" class="inner cover">
        <h1 class="cover-heading">Smith Consulting Inc.</h1>
        <p class="lead"> We have created an online system to help analyze documents for classification purposes and to meet the technical publication needs of our clients. </p>
        <p class="lead">
            <a href="~/Resources/ResourceSearch" class="btn btn-lg btn-secondary">Check It Out!</a>
            @*@if(Roles.IsUserInRole(User.Identity.GetUserName(), "Database Administrator"))
            {
                <a href="About" class="btn btn-lg btn-secondary">Add Document</a>
                <a href="About" class="btn btn-lg btn-secondary">Remove Document</a>
            }*@
        </p>
    </main>


</body>
