@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home";
}

<body class="vertical-center text-center">



    <main role="main" class="inner cover">
        <h1 class="cover-heading">Smith Consulting Inc.</h1>
        <p class="lead"> We have created an online system to help analyze documents for classification purposes and to meet the technical publication needs of our clients. </p>
        <p class="lead">
            <a href="~/Resources/DocumentTable" class="btn btn-lg btn-secondary">Check It Out!</a>
            @*@if(Roles.IsUserInRole(User.Identity.GetUserName(), "Database Administrator"))
            {
                <a href="About" class="btn btn-lg btn-secondary">Add Document</a>
                <a href="About" class="btn btn-lg btn-secondary">Remove Document</a>
            }*@
        </p>
    </main>


</body>
@*<style type="text/css">

    /* Background Color*/
    body {
        background: #333 !important;
        color: #fff !important;
    }

    /* Links */
    a,
    a:focus,
    a:hover {
        color: #fff;
    }


    .vertical-center {
        min-height: 100%; /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */
        display: flex;
        align-items: center;
    }

    /* Custom default button */
    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus {
        color: #fff;
        text-shadow: none; /* Prevent inheritance from `body` */
        background-color: #515151;
        border: .05rem solid #515151;
    }
</style>*@
