@{
    ViewBag.Title = "Search";
}
<br />
<h2>Search for Documents</h2>
<h3> </h3>

<p>Use this area to provide additional information.</p>


<label> Keyword 1: <input type="text" id="keyword1"> </label> 
<label> Keyword 2: <input type="text" id="keyword2"> </label> 
<label> Keyword 3: <input type="text" id="keyword3"> </label> 
<label> Keyword 4: <input type="text" id="keyword4"> </label> 

<button class="btn btn-lg btn-secondary" onclick="KeywordSearch()">Search</button>
<style type="text/css">

    /* Background Color*/
    body {
        background: #333 !important;
        color: #fff !important;
    }
</style>